/*Global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1);
}

li,
button,
label,
input,
p,
a {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "didot";
  animation: opening 1s ease-in-out;
}

h1 {
  font-family: "didot";
}

/*Nav Section*/
.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}
#logo {
  flex: 1 1 20rem;
  font-size: 25px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}
.intro {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.intro p {
  width: 95%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.intro-text {
  flex: 1 1 40rem;
  text-align: center;
}
.intro-text h2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.intro-image img {
  margin-left: 40%;
  padding-bottom: 3rem;
  align-content: center;
  width: 20%;
}

.intro-social {
  display: flex;
}
/*Animations*/
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.burger,
.menu-check {
  display: none;
}

.project1,
.project2,
.project3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 5%;
}
.project1 p,
.project2 p,
.project3 p {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 20px;
}
.project-makeup,
.project-digi,
.project-pm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.projects h4 {
  text-align: center;
}

/*email*/
.contact {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
}
.form-email {
  flex: 3 1 40rem;
}
.form-email label {
  display: block;
  font-size: 25px;
}
.form-email input {
  display: block;
  margin: 3rem 0 rem;
  padding: 1rem;
  color: #000000;
  border-color: #96c5e8;
  font-size: 15px;
}
.form-email button {
  margin-top: 5%;
  width: 100%;
  background: #ffffff;
  font-size: 20px;
  padding: 1rem;
}

/*footer*/
footer {
  background: #96c5e8;
  color: #ffffff;
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-wrap: wrap;
}
footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
footer h4 {
  flex: 3 1 40rem;
  font-size: calc(1.4rem + 1vw);
}

/*Responsive*/
@media screen and (max-width: 842px) {
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #e7eb43;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: #ffffff;
    font-size: var(--header3);
    text-decoration: underline;
  }
  .nav-links {
    background: #96c5e8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .nav-open {
    transform: translateX(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: #ffffff;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: #ffffff;
  }
  .intro-image img {
    margin-left: 0%;
    padding-bottom: 1rem;
    align-content: center;
    width: 95%;
  }
  /*project-section*/
  .project-makeup,
  .project-digi,
  .project-pm {
    width: 100%;
  }
  .project1,
  .project2,
  .project3 {
  }
  .project1 p,
  .project2 p,
  .project3 p {
    justify-content: last baseline;
    text-align: center;

    font-size: 15px;
  }
  /*email*/
  .contact img {
    display: none;
  }
  .form-email input {
    border-color: #000000;
  }

  /*footer*/
  footer h4 {
    font-size: 15px;
    text-align: center;
    padding: -5rem;
  }
}
